<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.xq.tmall.dao.RecommedFriendMapper">
	<resultMap id="user" type="user">
        <id property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="user_nickname" column="user_nickname"/>
        <result property="user_password" column="user_password"/>
        <result property="user_realname" column="user_realname"/>
        <result property="user_gender" column="user_gender"/>
        <result property="user_birthday" column="user_birthday"/>
        <result property="user_profile_picture_src" column="user_profile_picture_src"/>
        <association property="user_address" javaType="com.xq.tmall.entity.Address">
            <id property="address_areaId" column="user_address"/>
        </association>
        <association property="user_homeplace" javaType="com.xq.tmall.entity.Address">
            <id property="address_areaId" column="user_homeplace"/>
        </association>
    </resultMap>
    
    
    <resultMap id="productMap" type="product">
        <id property="product_id" column="product_id"/>
        <result property="product_name" column="product_name"/>
        <result property="product_title" column="product_title"/>
        <result property="product_price" column="product_price"/>
        <result property="product_sale_price" column="product_sale_price"/>
        <result property="product_create_date" column="product_create_date"/>
        <result property="product_isEnabled" column="product_isEnabled"/>
        <association property="product_category" javaType="com.xq.tmall.entity.Category">
            <id property="category_id" column="product_category_id"/>
        </association>
    </resultMap>
    
    <select id="selectProvince" resultType="string">
        SELECT DISTINCT sh_area.address_name FROM sh_area;
    </select>
    
    
   	<select id="selectFriendsByProvince" resultMap="user">
        select DISTINCT * from user where `user`.user_address in  (
				select sh_area.address_areaId from sh_area where address_name = #{province}
				) 
    </select>
    
    <select id="selectProductByFriendUser" parameterType="java.util.List" resultMap="productMap">
    
    SELECT * from (
		SELECT * from product 
		) product1
		INNER JOIN (


SELECT DISTINCT productOrderItem1.productorderitem_product_id from (
		select * FROM productOrderItem 
		) productOrderItem1
		INNER JOIN (
			select DISTINCT productorder_id 
						from productOrder where productorder_user_id in
						 <foreach collection="users_id" index="index" item="item" open="(" separator="," close=")">  
           					 #{item}  
      					  </foreach> 
						 
						 ) temp on temp.productorder_id = productOrderItem1.productorderitem_order_id
) temp2 on temp2.productorderitem_product_id = product1.product_id
    </select>
    
</mapper>